body {
    background: #190019;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

form {
    width: 500px;
    margin: 8% auto;
    padding: 50px 0;
    text-align: center;
    border-radius: 25px;
    background: #522B5B;
    box-shadow: 0 20px 40px #2B124C;
}


.input-box {
    margin: 30px auto;
    width: 80%;
    position: relative;
    box-shadow: 0 8px 10px -10px #2B124C;
}

.input-box input {
    width: 100%;
    height: 40px;
    border: none;
    background: #FBE4D8;
    padding-left: 50px;
    box-sizing: border-box;
}

span {
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 20px;
    background: linear-gradient(to right, #2B124C, #854F6C);
}

span.fa {
    padding: 10px;
    color: white;

}

button {
    width: 130px;
    height: 40px;
    display: 0;
    margin-left: 0 auto;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    outline: none;
    background: linear-gradient(to right, #16162F, #B51A25);
    transition: all 0.5s;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 8px 10px -5px #080210;
}

button.i {
    margin-left: 10px;

}

form img {
    width: 100px;
    margin-top: -95px;
}

.password-strength-indicator {
    font-size: 12px;
    display: inline-block;
    height: 15px;
    min-width: 20%;
    text-align: center;
    transition: .5s;
    border-radius: 4px;
    margin: 50px 0;
    color: white;
}

.password-strength-indicator.very-weak {
    background: #8c141c;
    width: 20%;
}

.password-strength-indicator.weak {
    background: #cf0000;
    width: 40%;
}

.password-strength-indicator.mediocre {
    background: #F6891F;

    width: 60%;
}

.password-strength-indicator.strong {
    background: #99ff33;
    width: 80%;
}

.password-strength-indicator.very-strong {
    background: #22cf00;
    width: 100%;
}