@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #1b1b1b;
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 12.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

/* NAVBAR */
.navbar a {
    position: relative;
    font-size: 16px;
    color: #ffe7d0;
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
}

/* NAVBAR ANIMATION INTERACTION  */
.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #fc6e20;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s;
}

.navbar a:hover::after {
    transform: translateY(0);
    opacity: 1;
}

/* SEARCH BAR */
.search-bar {
    width: 250px;
    height: 45px;
    background: transparent;
    border: 2px solid #fc6e20;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
    color: #ffe7d0;
}

/* SEARCH BAR PLACEHOLDER */
.search-bar input::placeholder {
    color: #ffe7d0;
}

.search-bar button {
    width: 40px;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.search-bar button i {
    font-size: 22px;
    color: #fc6e20;
}

/* CONTAINER BACKGROUND */
.container {
    position: absolute;
    top: 15%;
    left: 12.5%;
    transform: translateY(-15%, -12.5%);
    width: 75%;
    height: 460px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid #ffe7d019;
}

/* FLIPPED IMG IN CONTAINER */
.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('background3.gif') no-repeat;
    background-size: cover;
    background-position: center;
    transform: scaleX(-1);
    z-index: -1;
    border-radius: 10px;
}

/* CONTAINER CONTENT  */
.container .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    background: transparent;
    padding: 20px 0 72px 50px;
    color: #ffe7d0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* LOGO  */
.container .logo {
    font-size: 30px;
    color: #fc6e20;
}

/* TEXT-MESS H2  */
.text-sci h2 {
    font-size: 40px;
    line-height: 1;
}

.text-sci h2 span {
    font-size: 25px;
}

.text-sci p {
    font-size: 16px;
    margin: 20px 0;
}

/* ICONS  */
.icons a i {
    font-size: 22px;
    color: #ffe7d0;
    margin-right: 10px;
    transition: .5s ease;
}

.icons a:hover i {
    transform: scale(1.2);
}

/* LOGIN AND REGISTER DIV  */
.container .logreg-box {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    /* REGISTER OVERFLOW HIDDEN */
    overflow: hidden;
}

/* LOGREG-BOX DIV*/
.logreg-box .form-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    /*MIGHT EDIT LATER, KINDA WONKY*/
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #ffe7d0;
}

/* ACTIVE LOGREG-BOX, TRANSITION BETWEEN LOGIN AND REGISTER FORMS */
.logreg-box .form-box.login {
    transform: translateX(0);
    transition: transform .6s ease;
    transition-delay: .7s;
}

.logreg-box.active .form-box.login {
    transform: translateX(430px);
    transition-delay: 0s;

}

.logreg-box .form-box.reg {
    transform: translateX(430px);
    transition: .6s ease;
    transition-delay: 0s;
}

.logreg-box.active .form-box.reg {
    transform: translateX(0);
    transition-delay: .7s;
}

/* REG DIV*/
.logreg-box .form-box.reg {
    transform: translateX(430px);
}


/* H2 */
.form-box h2 {
    font-size: 32px;
    text-align: center;
    color: #fc6e20;
}

/* INPUT BOX */
.form-box .input-box {
    width: 340px;
    height: 50px;
    border-bottom: 2px solid #ffe7d0;
    margin: 30px 0;
    color: #ffe7d0;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: #ffe7d0;
    padding-right: 28px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    pointer-events: none;
    transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

/* ICONS IN PASS AND USER */
.input-box .sign {
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

/* REMEMBER AND FORGOT  */
.form-box .rem-forg {
    font-size: 14.5px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.rem-forg label input {
    color: #ffe7d0;
    margin-right: 3px;
}

.rem-forg a {
    color: #ffe7d0;
    text-decoration: none;
}

.rem-forg a:hover {
    text-decoration: underline;
    color: #fc6e20;
    transition: .5s ease;
}

.btn {
    position: relative;
    width: 100%;
    height: 45px;
    background: #fc6e20;
    outline: none;
    border: none;
    border-radius: 30px 60px;
    cursor: pointer;
    font-size: 16px;
    color: #ffe7d0;
    font-weight: 500;
    transition: transform .2s ease;
}

/* BTN ANIMATION */
.btn:active {
    transform: scale(0.96);
}

.btn::before,
.btn::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    z-index: -1;
}

/* TOP BUBBLES OF BTN */
.btn.animate::before {
    top: -70%;
    background-image: radial-gradient(circle, #fc6e20 10%, transparent 10%),
        radial-gradient(circle, transparent 10%, #fc6e20 10%, transparent 15%),
        radial-gradient(circle, #fc6e20 10%, transparent 10%),
        radial-gradient(circle, transparent 5%, #fc6e20 7.5%, transparent 10%),
        radial-gradient(circle, #fc6e20 10%, transparent 10%),
        radial-gradient(circle, #fc6e20 10%, transparent 10%),
        radial-gradient(circle, #fc6e20 10%, transparent 10%),
        radial-gradient(circle, #fc6e20 10%, transparent 10%);
    background-size: 10% 10%, 20% 20%, 15% 65%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 18% 18%;
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    animation: topBubbles 0.6s ease-in-out forwards;
}

@keyframes topBubbles {
    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }

}

/* BOTTOM BUBBLES BTN */
.btn.animate::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #fc6e20 10%, transparent 10%),
        radial-gradient(circle, transparent 5%, #fc6e20 7.5%, transparent 10%),
        radial-gradient(circle, #fc6e20 10%, transparent 10%),
        radial-gradient(circle, #fc6e20 10%, transparent 10%),
        radial-gradient(circle, #fc6e20 10%, transparent 10%),
        radial-gradient(circle, #fc6e20 10%, transparent 10%),
        radial-gradient(circle, #fc6e20 10%, transparent 10%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 15% 15%;
    background-position: 10% 0%, 30% 10%, 55% 0%, 70% 0%, 85% 0%, 70% 0%, 70% 0%;
    animation: bottomBubbles 0.6s ease-in-out forwards;
}

@keyframes bottomBubbles {
    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

/* log-reg */
.form-box .log-reg {
    font-size: 14.5px;
    font-weight: 500;
    text-align: center;
    margin-top: 25px;
}

.log-reg p a {
    color: #ffe7d0;
    text-decoration: none;
    font-weight: 600;
}

.log-reg p a:hover {
    text-decoration: underline;
    color: #fc6e20;
    transition: .5s ease;

}
