* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #272c1a;
}

.wrapper {
    position: relative;
    width: 750px;
    height: 450px;
    background: transparent;
    border: 2px solid #9fd700;
    box-shadow: 0 0 25px #9fd700;
    overflow: hidden;
}

.wrapper .form-box {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* LOGIN UI  */
.wrapper .form-box.login {
    left: 0;
    padding: 0 60px 0 40px;
}

/* ANIMATION ATTRIBUTE  */
.wrapper .form-box.login .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .form-box.login .animation {
    transform: translateX(-120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}

/* REGISTER UI  */
.wrapper .form-box.register {
    right: 0;
    padding: 0 40px 0 60px;
    pointer-events: none;
}

.wrapper.active .form-box.register {
    pointer-events: auto;
}


/* ANIMATION REGISTER TEXT AND TEXTBOXES  */
.wrapper .form-box.register .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .form-box.register .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}

.form-box h2 {
    font-size: 32px;
    color: #fffeef;
    text-align: center;
}

.form-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

/* TEXT BOXES  */
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fffeef;
    font-size: 16px;
    padding-right: 23px;
    color: #fffeef;
    font-weight: 500;
    transition: .5s;
}

/* UNDERLINE CHANGE COLOR  */
.input-box input:focus,
.input-box input:valid {
    border-bottom-color: #9fd700;
}

/* LABEL NAME AND PASS  */
.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    color: #fffeef;
    pointer-events: none;
    transition: .5s;
}

/* ANIMATION FOR LABEL HOVER OVER TEXTBOX */
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
    color: #9fd700;
}


/* LOGO OF NAME AND PASS  */
.input-box i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fffeef;
    transition: .5s;
}

.input-box input:focus~i,
.input-box input:valid~i {
    color: #9fd700;
}

/* BTN  */
.btn {
    position: relative;
    width: 100%;
    height: 45px;
    background: transparent;
    border: 2px solid #9fd700;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #fffeef;
    font-weight: 600;
    z-index: 1;
    overflow: hidden;
}

/* BTN BACKGROUND LAYER  */
.btn::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(#446158, #9fd700, #446158, #9fd700);
    z-index: -1;
    transition: .5s;
}

/* BTN ANIMATION  */
.btn:hover::before {
    top: 0;
}


/* LOGIN AND REGISTRATION DIV  */
.form-box .login_register-link {
    font-size: 14.5px;
    color: #fffeef;
    text-align: center;
    margin: 20px 0 10px;
}

.login_register-link p a {
    color: #9fd700;
    text-decoration: none;
    font-weight: 600;
}

.login_register-link p a:hover {
    text-decoration: underline;
}

/* INFO TEXT  */
.wrapper .info-text {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* POSITION WRAPPER INFO TEXT LOGIN  */
.wrapper .info-text.login {
    right: 0;
    text-align: right;
    padding: 0 40px 60px 150px;
}

/* ANIMATION ATTRIBUTE H2 AND P */
.wrapper .info-text.login .animation {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .info-text.login .animation {
    transform: translateX(120%);
    opacity: 0;
    filter: blur(10px);
    transition-delay: calc(.1s * var(--i));
}

/* INFO TEXT REGISTER */
.wrapper .info-text.register {
    left: 0;
    text-align: left;
    padding: 0 150px 60px 40px;
    pointer-events: none;
}

.wrapper.active .info-text.register {
    pointer-events: auto;
}


/* ANIMATION INFO TEXT REGISTER */
.wrapper .info-text.register .animation {
    transform: translateX(-130%);
    opacity: 1;
    filter: blur(10px);
    transition: .7s ease;
    transition-delay: calc(.1s * var(--j));
}

.wrapper.active .info-text.register .animation {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
    transition-delay: calc(.1s * var(--i));
}

/* INFO TEXT H2 and P*/
.info-text h2 {
    font-size: 36px;
    color: #fffeef;
    line-height: 1.3;
    text-transform: uppercase;
}

.info-text p {
    font-size: 16px;
    color: #fffeef;
}

/* WRAPPER BG-ANIMATE BACKGROUND LAYER */
.wrapper .bg-animate {
    position: absolute;
    top: -4px;
    right: 0;
    width: 850px;
    height: 600px;
    background: linear-gradient(45deg, #446158, #9fd700);
    border-bottom: 3px solid #9fd700;
    transform: rotate(10deg) skewY(40deg);
    transform-origin: bottom right;
    transition: 1.5s ease;
    transition-delay: .5s;
}

/* ANIMATION ATTRIBUTE BACKGROUND*/
.wrapper.active .bg-animate {
    transform: rotate(0) skewY(0);
    transition-delay: .4s;
}

/* BG-ANIMATE2 BACKGROUND2 LAYER */
.wrapper .bg-animate2 {
    position: absolute;
    top: 100%;
    left: 250px;
    width: 850px;
    height: 700px;
    background: #272c1a;
    border-top: 3px solid #9fd700;
    transform: rotate(0) skewY(0);
    transform-origin: bottom left;
    transition: 1.2s ease;
    transition-delay: calc(.1s * var(--j));
}

/* ANIMATION ATTRIBUTE BACKGROUND2 */
.wrapper.active .bg-animate2 {
    transform: rotate(-11deg) skewY(-41deg);
    transition-delay: 1s;
}